{{#each funcionarios}}

<div class="card mt-3">
    <div class="card-body">
        <h2>{{nome_fun}}</h2>
        <p>Contato: {{telefone_fun}}</p>
        <hr>
        <p>Cargo: {{cargo}}</p>
        <p>R$: {{salario}}</p>
    </div>
</div>

{{/each}}