<div class="jumbotron">
  <h1 class="display-4">BEM VINDO AO ULTIMO TRABALHO DE PWI E BDI </h1>
  <p class="display-6">Autores: Ana Lídia, João Paulo Dias (vulgo jp) e Murilo Perez</p>
  <hr>
  <p class="lead">Sabendo que a desigualdade de gênero é um problema que é perdurado até os dias de hoje, onde é necessário a criação de um sistema onde o acesso aos salários de ambos os gêneros seria uma das etapas mais importantes para alcançar o trabalho descente e aumentar o crescimento econômico.</p> 
  <p class="lead">Para realizar esse acesso, teremos um cadastro dos funcionários, onde irá mostrar a função exercida por ele e a empresa onde ele trabalha. Caso as funções de duas pessoas de gêneros diferentes forem iguais e os salários forem diferentes, a empresa será contatada para realizar o reajuste salarial para todos que possuam essa diferença.</p> 
  <p class="lead">Cada empresa terá uma avaliação realizada pelos funcionários de forma que a empresa não consiga saber as avaliações de cada funcionário. A partir dessa avaliação, se a empresa tiver uma nota insuficiente, será enviado um inspetor sem aviso prévio para observar a empresa durante certo tempo e mostrará os erros em que a empresa está cometendo para possuir um ambiente de trabalho descente e consequentemente um crescimento econômico.</p>
  <hr class="my-1">
  <p class="lead">Utilizamos Node.js, seus módulos de desenvolvimento e o framework bootstrap para fazer o site.</p> 
  <p class="lead">Para criar o banco de dados usamos o MongoDB e para se conectar com ele uzamos o módulo mongoose do Node.js.</p>
  <hr class="my-1">
  <small class="my-2">Esse é só um protótipo e tem muita coisa para se fazer ainda</small>  <br>
  <small class="my-2">mas espero que gostem</small>  <br>
</div>